#home{
    color:#fff;
    overflow: hidden;
    
    .content{
        width: 100%;
        background-color: #cc85d9;
        position: absolute;
        top: 60px;
        bottom: 0px;
        left: 0px;
        box-sizing: border-box;
        .leftBox{
            width: 24%;
            height: 100%;
            float: left;
            background-color: yellowgreen;
            .showContent{
                margin:0 0 10px 20px;
                box-sizing: border-box;
                height: 18%;
                .title{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }
            .showContent:nth-child(1){
                margin-top: 30px;
            }
        }
        .middleBox{
            width: 52%;
            height: 100%;
            float: left;
            background-color: greenyellow;
            .topBox{
                height: 40%;
                background-color: #cc85d9;
            }
            .bottomBox{
                height: 60%;
                background-color: aquamarine;
                .keyPeopleEcharts{
                    width: 80%;
                    height: 400px;
                    margin: 0 auto;
                    // margin-left: 33px;
                    // margin-top: 37px;
                    box-sizing: border-box;
                }
                .lineEcharts{
                    width: 200px;
                    height: 200px;
                    // margin-left: 33px;
                    // margin-top: 37px;
                    box-sizing: border-box;
                }
            }
        }
        .rightBox{
            width: 24%;
            float: left;
            height: 100%;
            background-color: aqua;
            .showContent{
                margin:0 0 20px 20px;
                height: 25%;
                .title{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }
            .showContent:nth-child(1){
                margin-top: 30px;
            }
        }
       
    }
}