#home{
    color:#fff;
    overflow: hidden;
    background-color: #07112d;
    .content{
        width: 100%;
        background-color: #07112d;
        position: absolute;
        top: 60px;
        bottom: 0px;
        left: 0px;
        box-sizing: border-box;
        .leftBox{
            width: 24%;
            height: 100%;
            float: left;
            background-color: rgba(21, 52, 102, 1);
            .showContent{
                margin:0 0 10px 20px;
                box-sizing: border-box;
                height: 18%;
                .title{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }
            .showContent:nth-child(1){
                margin-top: 30px;
            }
        }
        .middleBox{
            width: 52%;
            height: 100%;
            float: left;
            background-color: greenyellow;
            border-left:1px solid rgba(15, 91, 125, 1);
            border-right:1px solid rgba(15, 91, 125, 1);
            .topBox{
                height: 40%;
                background-color: #cc85d9;
            }
            .bottomBox{
                height: 60%;
                background-color: aquamarine;
                position: relative;
                .fiveColorEcharts{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 300px;
                    margin: 0 auto;
                }
            }
        }
        .rightBox{
            width: 24%;
            float: left;
            height: 100%;
            background-color: aqua;
            overflow: hidden;
            .showContent{
                margin:0 0 20px 20px;
                height: 25%;
                .title{
                    font-size: 18px;
                    font-weight: bolder;
                }
            }
            .showContent:nth-child(1){
                margin-top: 30px;
            }
        }
       
    }
}